nav {  
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;  
  justify-content: space-between;   
  height: 120px;
  width: 100%;
  background-color: #4056a1;  
  color: #FFFFFF;
  padding: 0 1.5em;
}  

nav span {
  font-family: "Bungee", sans-serif;    
  font-weight: 700;    
  font-style: normal;      
}

.write-tweet {
  color: #FFFFFF;    
  font-family: "Source Sans 3", sans-serif;    
  font-optical-sizing: auto;    
  font-weight: 400;    
  font-style: normal;    
  font-size: .9em; 
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}