#tweet-text {
  border: none;
  border-bottom: 3px solid #545149;
  background-color: inherit;
  width: 100%;
  align-items: center; 
  font-weight: 600;
  }
 
.submit-form {
  font-family: "Bungee", sans-serif;    
  font-weight: 500;    
  font-style: normal;   
  display: flex;
  justify-content: space-between;
  margin-top: 10px; 
  margin-bottom: 50px;
}

button {
  font-size: smaller;
  background-color: #4056a1;
  color: #FFFFFF;   
  border: none;
  padding: .2em .4em;
  cursor: pointer;
}

.counter {
  color: #545149;
}

.counter.low-count {
  color: red;
}

.error-message {
  display: none;
  color: red;
  padding: .2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: .7em;
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
#tweets-container {
  max-width: 1024px; /
}

}


