.tweet {
  border: 2px solid #545149; /* Solid black border for each article */
  padding: 15px; /* Space inside the border */
  margin: 10px 0; 
}

.tweet:hover {
  box-shadow: 5px 5px 15px #4056a1;

}
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.handle {
  color: #b9bdba;
  font-size: smaller;
}

.user {
  display: flex;
  align-items: baseline;
  font-weight: 300;
}

#tweets-container img {
  height: 38.4px;
  width: 38.4px;
  padding: .3em;
}

footer {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 15px;
}

.timestamp {
  color: #545149
}

footer i {
  color: #4056a1;
}
footer i:hover {
  color: goldenrod;
}
